body{
    background-color:#333;
    color:#fff;
}

.emphase{
    color:darkorange;
    font-weight:bold;
}

.inpage-title{
    color:#ff4400;
}

.form-control-plaintext{
    color:#ddd;
}

hr{
    background-color:#fff;
}