<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="/css/bootstrap.min.css">
            <link rel="stylesheet" href="/css/custom.css">
        {% endblock %}

        <style>{% block additionalStyles %}{% endblock %}</style>
    </head>

    <body>
        <header>
            {% block menu %}
                {# Collect the nav links, forms, and other content for toggling #}
                <nav class="navbar navbar-expand-md navbar-dark fixed-top">
                    {{ knp_menu_render('main', {'currentClass': 'active'}) }}
                    {{ knp_menu_render('user', {'currentClass': 'active'}) }}
                </nav>
            {% endblock %} {# menu #}
        </header>
    <div style="text-align:center">
        {% block header %}
        {% endblock %}
    </div>
    <br>
    <br>
    <br>
    {% block body %}

    <div class="container body-container">
        {% block main %}
            MAIN
        {% endblock %} {# main #}
    </div>

    {% endblock %} {# body #}
	{% block footer %}
        <div>
        </div>
	{% endblock %} {# footer #}
    </body>

    {% block javascripts %}
        <script src="/js/bootstrap.min.js"></script>
	{% endblock %} {# javascripts #}

    {% block custompage_script %}
    {% endblock %} {# custompage_scripts #}
</html>
