{% extends 'base.html.twig' %}

{% block title %}New Circuit{% endblock %}

{% block body %}
    <h1 class="inpage-title">Create new Circuit</h1>

    {{ include('back/circuit/_form.html.twig') }}

    <a href="{{ path('admin_circuit_index') }}">Back to list</a>
{% endblock %}
