{% extends 'back/circuit/circuit_form_base.html.twig' %}

{% block title %}New Circuit{% endblock %}

{% block main %}
    <h1 class="inpage-title">Create new circuit</h1>
    <br>
    {{ include('back/circuit/_form.html.twig') }}
    <br>
    <a href="{{ path('admin_circuit_index') }}">Back to list</a>
{% endblock %}
